<div class="w-50 container my-5">
    <h1>Register</h1>
    <form [formGroup]="registerFormGroup" (submit)="register()">
        <input formControlName="name" type="text" class="form-control my-2" placeholder="Full name">
        <input formControlName="email" type="email" class="form-control my-2" placeholder="Email address">
        <input formControlName="password" type="password" placeholder="Password" class="form-control my-2">
        <button class="btn btn-warning  me-4" type="submit">Sign up</button>
        <a routerLink="/auth/login">Already have an account?</a>
    </form>
</div>